


<div class="container  pt-5 pb-5">

    <div class="row featurette mb-3">
      <div class="col-md-7 mx-auto">
        <h2 class="featurette-heading">Celebrities. <span class="text-muted">Se creen más de lo que son.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        <a class="btn btn-primary btn-lg mb-3" href="/celebrities/">Celebrities</a>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://pbs.twimg.com/media/DVhhmfDX4AEt41a.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><title>Celebrities</title><rect width="100%" height="100%"/>
      </div>
    </div>

    <hr class="featurette-divider pt-3">

    <div class="row featurette">
      <div class="col-md-7 order-md-2 mx-auto">
        <h2 class="featurette-heading">Movies. <span class="text-muted">Ni los críticos las han visto.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        <a class="btn btn-secondary btn-lg mb-3" href="/movies/">Movies</a>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://cdn.moviemovie.com.hk/teaser/og-image.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><title>Celebrities</title><rect width="100%" height="100%"/>
      </div>
    </div>

</div>